# .gitignore specific to the project

# ignore config information that gets updated on various runs of projectMaker
src/projectMakerConfig.json

# temporary copies of the template for testing
myProject/
myProjectCopy/
newProject/
newProjectCopy/

# override global .gitignore to include these directories
!node_modules
!aaa_notForProject
